.footer-box{
    width: 500px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.btn-clear{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.33);
    padding: 3px 5px;
    background-color: rgb(219, 71, 71);
    color: white;
    border-radius: 3px;
}

