.unfold {
  transform: rotate(90deg);
  transition: transform 200ms ease;
}
.closed-icon {
  transition: transform 200ms ease;
}
.closed-list{
  height: 0;
}
.drawertitleaskcontainer {
  overflow: hidden;
  flex: 1 1 0;
}
.drawer {
  padding: 0 20px 0;
  
}
.drawerheader {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 1px 0px #cdcbcb59;
  cursor: pointer;
}
.drawerheader > .icon {
  font-size: 20px;
}
.drawertitle {
  margin: 0 10px 0;
  font-size: 16px;
}

.showlist{
  transition: height 0.3s;
  height: 0;
  overflow: auto;
}