.TaskList {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  margin: 0 0px 0 10px;
  padding-right: 17px;
  margin-top: 2px;
}
.TaskItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 43px;
  padding: 0 5px 0;
  /* cursor: pointer; */
  font-size: 14px;
  box-shadow: 0px 1px 0px #cdcbcb59;
}
.TaskItem:hover {
  background-color: #edebe9;
}
.iscompleted {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.task {
  flex: 1 1 0;
  user-select: none;
}
.iscollected,
.delete {
  font-size: 18px;
  padding: 10px;
  color: #909090;
  cursor: pointer;
}
.iscollected :hover {
  color: #000;
}

.disabled {
  cursor: not-allowed !important;
}

.delete .icon:hover {
  color: #000;
}

.del-line {
  text-decoration-line: line-through;
  color: #ccc;
}

